@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Philosopher:wght@400;700&display=swap');

body {
    color: black;
  }
  
  .container {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    background-color: rgb(141, 141, 151) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100%;
  }
  
  #overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(189, 22, 22, 0.801);
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  h1 {
    font-weight: bolder;
    font-style: italic;
    font-family: 'Oleo Script', cursive;
    padding-top: 10px;
    color:brown;
    text-shadow: 0 0 10px black;
  }
  
  .greatnav {
    padding-top: 20px;
    text-align: right;
    text-decoration: none;
    right: 0;
    left: 0;
    z-index: 3;
  }
  
  li {
    list-style-type: none;
    display: inline-block;
  }
  
  li>a {
    text-decoration: none;
    padding: 15px;
    margin: 0;
    display: block;
    text-transform: uppercase;
    color:blue;
    text-shadow: 0 0 10px black;
  }
  
  a:hover {
    box-shadow: 0 0 10px black;
    color:brown;
    text-decoration: none;
  }
  
  .logo {
    padding-top: 100px;
  }
  
  #log1 {
    border-radius:10%;
  }
  
  #state {
    font-weight: bolder;
    font-style: italic;
    font-family: cursive;
    text-shadow: 0 0 10px black;
  }
  footer {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    margin: 10px 10px 10px 10px;
  }

#img8,
#img9,
#img10 {
  padding-bottom: 20;
}
#par1,
#par2,
#par3,
#par4,
#par5,
#par6 {
  padding-top: 25px;
  font-style: italic;
  color: black;
}

.menu {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    text-shadow: 0 0 2px rgba(17, 22, 97, 0.753);
    font-family: 'Philosopher', sans-serif;
  }
#piz1,
#piz2,
#piz3,
#piz4,
#piz5,
#piz6 {
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}
#piz1:hover,
#piz2:hover,
#piz3:hover,
#piz4:hover,
#piz5:hover,
#piz6:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}


#order1 {
    background-color: blue !important;
    box-shadow: 0 0 10px whitesmoke;
  }
  
  #order2 {
    background-color: purple !important;
    box-shadow: 0 0 10px black;
  }
  
  .order2 {
    text-align: center;
  }
  .over {
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 15px blueviolet;
  }
  
  h3 {
    text-align: center;
    font-family: 'Oleo Script', cursive;

  }
  .order{
    font-family: 'Oleo Script', cursive;
  }